body {
    background: #e7e2e2;
}



.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("./running-dinosaur.gif") no-repeat center center;
    width: 210px;
    height: 100px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 20%;
    -webkit-animation: myfirst 40s linear infinite;
    animation: myfirst 40s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("./Best-Gif-Animation-Collection-15.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 10%;
    position: absolute;
    -webkit-animation: myfirst 40s linear infinite;
    animation: myfirst 20s linear infinite;
}




@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/

